body{
  font-family: "Montserrat";
}



#title{
   color: #fff;
  background-color: #ff000f;
}
.container-fluid{
  padding:3% 15%;
}
h1{
font-family: "Montserrat-Black";
  font-size: 3rem;
  line-height: 1.5;
}
h2{
  font-family:  "Montserrat-Black";
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-family: "ubuntu-Bold"
}
p{
  color:#8f8f8f;
}
/* navigation bar */
.navbar-brand{

  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar{
  padding:0 0 3.5rem;
}
.nav-item{
  padding: 0 18px;
}
/* download-button */
.download-button{
  margin:5% 3% 5% 0;
}
/* title-image */
.title-image{

  width:200%;
  

}
/* section-features */
#features{
  padding: 7% 15%;
  background-color: #fff;


}
.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color:#ff002d;
  margin-bottom: 1rem;

}
.icon:hover{
  color:#ff000f;
}

.svcStock:hover{
  color:#0091ff;
}

/* testimonial section */
#testimonials{

  text-align: center;
  background-color: #ff000f;
  color: #fff;
}
.corousel-item{
  padding: 3% 15%;
}


.testimonial-image{
     width:20%;
     border-radius: 100%;
     margin:20px;
}

#press{
  background-color:#ff000f;
  text-align: center;
  padding:2%;
}

.press-logo{
  width:15%;
  margin:20px 20px 50px;
}

#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;

}
@media (max-width: 1028px){
  #title{
    text-align: center;
  }
  .title-image{
    position:static;
    transform: rotate(0);

  }

}

/* section-cta */

#cta{
  background-color: #ff000f;
  padding: 5% 10%;
  text-align: center;
  font-family: "Montserrat-Black";


}
.cta-head{
  font-family:  "Montserrat-Black";
  color:#fff;
  font-size: 3rem;
  line-height: 2;
}
.download-button1{
  margin: 10px 10px;
}

#footer{
  text-align:center;
  padding:3% 15%;
}
.icon1{
  margin:10px 10px;
  line-height: 2;

}

.service-icon {
    background-color: red;
    cursor: pointer;
}



.hvr-bounce-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.service-icon {
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 36px;
    height: 90px;
    line-height: 90px;
    width: 90px;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

.card-content{
  padding-top: 2%;
  line-height: 2;
}

.aman{
  background: red;
}

.s-color{
  color: #cc0000;
}
